<!--
#
# Copyright IBM Corp. All Rights Reserved.
# Copyright DTCC All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
-->
<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.OSSRH_USER_TOKEN}</username>
            <password>${env.OSSRH_PWD_TOKEN}</password>
        </server>
     </servers>
   <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEY}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PWD}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
